{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>News 24 - Free News Website Templates</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Ecommerce Template" name="keywords">
        <meta content="Bootstrap Ecommerce Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{% static "img/favicon.ico" %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
<!-- search  -->
                    <div class="col-lg-6 col-md-4">
                        <form method='get' action ='{% url "search" %}'>
                            <input type="text" placeholder="Search" aria-label = "Search" name = "search">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="social">
                            {% comment %} <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->


        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="{% url 'home' %}"  class="nav-item nav-link active">{% blocktranslate %}Asosiy{% endblocktranslate %}</a>
                            <a href="{% url 'contact' %}" class="nav-item nav-link">{% blocktranslate %}Xabar yuborish{% endblocktranslate %}</a>
                          
                        </div>


                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go">
                        </form>



                        {% if request.user.is_authenticated %}
                        
                            <div class = 'navbar-nav m-auto'>
                                
                               
                                <a href="{% url 'add_new' %}"  class="nav-item nav-link active">{% blocktranslate %}Yangilik qo'shish{% endblocktranslate %}</a>
                                
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% blocktranslate %}Shaxsiy oyna{% endblocktranslate %}-{{ request.user.username }}</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'password_change' %}" class="dropdown-item">password change</a>
                                        <a href="{%url 'logout' %}"  class="dropdown-item">Chiqish</a>
                                        <a href="{%url 'logout' %}"  class="dropdown-item">own Profilepage</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            
                            <div class = 'navbar-nav m-auto'>
                                <a href="{% url 'login' %}"  class="nav-item nav-link active">Kirish</a>
                                <a href="{% url 'register' %}"  class="nav-item nav-link active">Ro'yhatdan o'tish</a>
                            </div>
                        
                        {% endif %}
                       
                        
                    </div>
                </nav>
            </div>
        </div>

 {% block content %}


 {% endblock content %}

 <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Useful Links </h3>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=zcBbzCoIhoU">Song</a></li>
                        <li><a href="https://ielts.org/news-and-insights">IELTS</a></li>
                        <li><a href="https://www.youtube.com/watch?v=zcBbzCoIhoU">Song</a></li>
                        <li><a href="https://ielts.org/news-and-insights">IELTS</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul>
                        <li><a href="https://kun.uz/en">DAy.Uz Eng</a></li>
                        <li><a href="https://kun.uz">KUN.UZ UZ</a></li>
                        <li><a href="https://www.youtube.com/watch?v=zcBbzCoIhoU">Song</a></li>
                        <li><a href="https://ielts.org/news-and-insights">IELTS</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        {% comment %} <p><i class="fa fa-map-marker"></i>123 Terry Lane, New York, USA</p>
                        <p><i class="fa fa-envelope"></i>email@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p> {% endcomment %}
                        <div class="social">
                            <a href="https://www.tweeteraser.com/resources/view-twitter-without-account-exploring-without-sign-up/#:~:text=Just%20use%20the%20search%20bar,or%20reply%20to%20their%20tweets."><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=11554070363&extra_1=s%7Cc%7C518929547027%7Ce%7Cfacebook%7C&placement=&creative=518929547027&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D11554070363%26adgroupid%3D112923417056%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1028523%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAsIGrBhAAEiwAEzMlC9KtDQfdSUr5D6wWfghf-cLU7cpiKe436D9lU1s_2m1B8SsuG_KSjxoCNEoQAvD_BwE"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Newsletter</h3>
                    <div class="newsletter">
                        
                        <form>
                            
                            <button class="btn"> <a href="{% url 'contact' %}" class="nav-item nav-link">{% blocktranslate %}Xabar yuborish{% endblocktranslate %}</a> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Footer Bottom Start -->
{% comment %} <div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Footer Bottom End -->


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/slick/slick.min.js' %}"></script>


<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% comment %} {% endblock  %} {% endcomment %}
